body{
    font-family: Verdana, sans-serif, Arial;
}

.dark{
    background-color: #1e2029;
    color: white;
}

h1, h2, h3, h4, h5, h6 {
    color:#1181b2;
    margin-top: 2em;
}

section {
    margin: 0% 25%;
}

header {
    margin-top: 5%;
    font-size: 2em;
    text-align: center;
    color:#1181b2;
}

a:link {
    color: #1181b2;
}

a:visited {
    text-decoration: none;
}

a:hover {
    color: orange;
}

/* css voor de aftelklok */

#countdown {
    text-align: center;
    font-size: 5em;
    font-family: 'DS-Digital', Verdana, sans-serif, Arial;
}

/* css voor het uiterlijk van de "Verdere informatie" link */
.infolink {
    text-align: center;
    font-size: 1.5em;
}

/* css maar dan voor telefoon */
@media only screen and (max-device-width: 600px) {
    h1{
        margin-top: 200px;        
        font-size: 3.5em;
    }

    section {
        margin: 0% 10%;
        font-size: 2em;
    }

    .fotoIlya {
        width: 50%;
    }

    header {
        font-size: 1.5em;
    }
}